.support {
    margin-top: 46px;

    &__container {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__description {
        color: $gray;
        line-height: 26px;
        font-weight: 500;
        max-width: 500px;
    }

    &__wallets {
        border: 1px solid $white;
        padding: 16px;

        &-item {
            margin-top: 10px;
            color: $gray;
            font-size: 12px;
        }
    }

    &__social {
        border: 1px solid $white;
        padding: 16px;
        
        &-link {
            margin-top: 10px;
        }
    }


    &__box {
        align-items: flex-start;
        width: fit-content;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

