@include _1440 {
    .base_layout {
        padding: 0 100px;
    }
}

@include _1024 {
    .base_layout {
        padding: 0 50px;
    }

    .social-fixed {
        display: none;
    }
}

@include _768 {
    .accent-line {
        max-width: 100% !important;
    }

    .batman {
        height: 200px;
    }
}


@include _480 {
    #root, body {
        font-size: 14px;
    }
    .base_layout {
        padding: 0 20px;
    }

    .title {
        font-size: 24px;
    }

}
