@include _1440 {
    .wrapper {
        padding: 0 100px;
    }
}

@include _1024 {
    .wrapper {
        padding: 0 50px;
    }

    .social-fixed {
        display: none;
    }
}

@include _768 {
}


@include _480 {
    #root, body {
        font-size: 14px;
    }
    .wrapper {
        padding: 0 20px;
    }

    .title {
        font-size: 24px;
    }
}
