@include _1024 {
    .header {
        padding: 20px 50px;
    }
}


@include _992 {
    .header {
        justify-content: unset;

        &__nav {
            display: none;
        }

        &__lang {
            margin-left: auto;
        }

        &__burger {
            margin-left: 10px;
            display: block;
            cursor: url("/src//assets/img/common/cursor-pointer.png"), pointer;
;
            width: 24px;
            height: 24px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                width: 100%;
                height: 2px;
                background-color: $white;
                transition: 0.3s all;
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: calc(50% + 5px);
                width: 50%;
                height: 2px;
                background-color: $white;
                transition: 0.3s all;
            }


        }

        // When burger menu opened
        &.active {
            height: 100%;
            z-index: 99999999999999;

            .header__nav {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                &-link {
                    font-size: 32px;
                }
            }



            .header__burger {
                &::before {
                    left: 0;
                    top: 10px;
                    width: 100%;
                    transform: rotate(50deg);
                }

                &::after {
                    left: 0;
                    top: 10px;
                    width: 100%;
                    transform: rotate(-50deg);
                }
            }
        }
    }
}


@include _480 {
    .header {
        padding: 20px 24px;
    }
}
