@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all;
    color: $white;
    -webkit-tap-highlight-color: transparent;
}

#root, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: $background;
    font-family: "Fira Code", monospace;
    font-size: 16px;
}

.base_layout {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0 100px;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    width: 100%;
}

.accent {
    color: $primary;
}

.icon {
    max-width: 25px;
}

.social-fixed {
    position: fixed;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    z-index: 10;

    &__line {
        background-color: $white;
        width: 1px;
        height: 100px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}


.title {
    font-size: 32px;
    font-weight: 500;
    white-space: nowrap;
}

.btn {
    padding: 8px 16px;
    border: 1px solid $primary;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    
    &:hover {
        opacity: 1;
        background-color: #483b55;
    }
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.accent-line {
    background-color: $primary;
    max-width: 511px;
    width: 100%;
    height: 1px;
}

.slick-dots {
    bottom: -30px;
    & li {
        margin: 0;
        padding: 10px 0px 0px 0px;
        & button {
            opacity: 0.5;
            background-color: $white;
            padding: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            &::before {
                display: none;
            }
        }
    }
    & li.slick-active {
        & button {
            background-color: $white;
            opacity: 1;
        }
    }
}


.slick-next {
    right: -10px;
    &::before {
        font-family: initial;
    }
}

.slick-prev {
    left: -10px;
    &::before {
        font-family: initial;
    }
}


.brand {
    position: relative;
    font-weight: 800;
    position: relative;
    margin-left: 24px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -24px;
        width: 16px;
        height: 16px;
        background: url("../assets/img/logo.png") no-repeat center center / contain;
    }
}


// All pages with fadein animation
.landing, .notfound {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
