.header {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1440px;
    width: 100%;
    padding: 32px 100px 8px;
    display: flex;
    justify-content: space-between;
    background-color: $background;
    
    &__nav {
        margin-left: auto;
        display: flex;
        gap: 32px;
        font-size: 16px;

        &-link {
            color: $white;
            span {
                color: $primary;
            }

            &:hover {
                color: $primary;
            }
        }
    }

    &__brand {
        font-weight: 800;
        position: relative;
        margin-left: 24px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -24px;
            width: 16px;
            height: 16px;
            background: url("../assets/img/logo.png") no-repeat center center / contain;
        }
    }

    &__lang {
        margin-left: 32px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        margin-right: 15px;

        &-current {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: -15px;
                top: 50%;
                width: 10px;
                height: 5px;
                background: url("/src/assets/img/arrow.png") no-repeat center center / contain;
                transform: translateY(-50%);
                transition: 0.3s all;
            }
        }

        &.active {
            .header__lang-current {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        &-list {
            display: none;
            flex-direction: column;

            &-item {
                text-transform: uppercase;
            }

            &-item:hover {
                color: $primary;
            }
        }
    }

    &__burger {
        display: none;
    }
}
