@include _768 {
    .main {
        flex-direction: column;
        margin-top: 32px;
        &__btn {
            display: none;
        }

        &__subtitle {
            color: $gray;
        }
    }
}

@include _480 {
    .main {
        margin-top: 0;
    }
}
