@include _768 {
    .projects {
        &__slider {
            margin-top: 30px;
        }
    }
}

@include _480 {
    .projects {
        &__project {
            max-width: 260px;
            &-info {
                gap: 10px;
                &-title {
                    font-size: 20px;
                }
            }
        }
    }
    
}
