@include _768 {
    .quote {
        &__text {
            font-size: 20px;
            padding: 20px;
            &::before {
                width: 30px;
            }
        }

        &__author {
            font-size: 18px;
            padding: 20px 10px 10px 10px;
            &::before {
                width: 30px;
            }
        }
    }
}
