@include _768 {
    .skills {
        &__content {
            flex-direction: column;
        }

        &__squares {
            display: none;
        }

        &__list {
            margin-top: 20px;
            flex-direction: column;

            &-item {
                max-width: 100%;
            }
        }
    }
}
