.page-article {

    &__topbox {
        justify-content: space-between;
        align-items: flex-start;
    }
    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: fit-content;
        
        &-avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        &-name {
            font-weight: 700;
            font-size: 18px;
        }

        &-username {
            color:  #949494;
            font-weight: 700;
            font-size: 16px;
        }

        .flex-col {
            gap: 0;
        }
    }

    &__date {
        color: #949494;
        font-weight: 700;
    }

    &__content {
        margin-top: 30px;
    }
}
