.page-blog {
    &-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }

    .article {
        max-width: 330px;
        border: 1px solid $white;
        display: flex;
        flex-direction: column;
    
        &__link {
            display: flex;
            margin-left: auto;
            font-weight: 500;
            white-space: nowrap;
        }
    
        &__meta {
            padding: 8px;
            border: 1px solid $white;
            display: flex;
            align-items: center;
            position: relative;
    
            &-avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
    
            &-name {
                margin-left: 8px;
                font-weight: 500;
            }
    
            &-date {
                top: 5px;
                right: 5px;
                font-size: 11px;
                position: absolute;
                opacity: 0.6;
            }
    
            &-category {
                bottom: 5px;
                right: 5px;
                font-size: 11px;
                position: absolute;
                opacity: 0.6;
            }
        }
    
        &__info {
            display: flex;
            flex-direction: column;
            padding: 16px;    
            &-title {
                font-size: 24px;
                font-weight: 500;
            }

            &-description {
                font-size: 12px;
                color: #949494;
                margin-top: 10px;
            }
        }

        &__btn {
            margin-top: 16px;
        }
    }
}
