.w-md-editor {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    
    &-toolbar {
        background-color: #1e1f29;
    }

    .wmde-markdown {
        background: none;
    }
}

.page-create-artc {
    &__form {
        
        &-input {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            border: none;
            outline: none;
            border-bottom: 1px solid $primary;
            color: $white;
            font-size: 14px;
            padding: 14px 20px;
        }

        &-btn {
            display: flex;
            width: fit-content;
            margin-left: auto;
        }

        &-select {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            border: none;
            outline: none;
            border-bottom: 1px solid $primary;
            color: $white;
            font-size: 14px;
            padding: 14px 20px;
            margin-top: 10px;
        }
        
    }
}
