@include _768 {
    .facts {
        &__container {
            flex-direction: column;
            gap: 40px;
        }

        &__list {
            flex-direction: column;
            width: 100%;
        }
    }
}
