@include _992 {
    .me {

        &__images {
            max-width: 200px;
            max-height: 300px;

        }
    }
}


@include _768 {
    .me {
        margin-top: 20px;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }
}
