.contacts {
    margin-top: 112px;

    .accent-line {
        max-width: 112px;
    }

    &__container {
        margin-top: 40px;
        align-items: flex-start;
        justify-content: space-between;
        gap: 60px;
    }

    &__description {
        max-width: 505px;
    }

    &__box {
        border: 1px solid $white;
        padding: 16px;
        gap: 15px;

        &-link {
            img {
                max-width: 23px;
            }
        }
    }
}