.projects {
    margin-top: 112px;


    &__link {
        display: flex;
        margin-left: auto;
        font-weight: 500;
        white-space: nowrap;
    }

    &__slider {
        margin-top: 48px;
        width: 100%;
        height: fit-content;

        .slider-wrapper {
            justify-content: space-between;
            align-items: center;
        }
    }

    &__project {
        max-width: 330px;
        border: 1px solid $white;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        &-stack {
            padding: 8px;
            border: 1px solid $white;
        }

        &-info {
            display: flex;
            flex-direction: column;
            padding: 16px;
            gap: 16px;

            &-title {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}
