.quote {
    margin-top: 112px;

    &__container {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        margin: 0 auto;
    }

    &__text, &__author {
        font-size: 24px;
        font-weight: 600;
        border: 1px solid $white;
        max-width: fit-content;
        position: relative;
    }

    &__text {
        padding: 32px;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            background: url("/src/assets/img/quote/mark.png") no-repeat center center / 70%;
            width: 41.47px;
            height: 28.7px;
            left: 16px;
            top: -14px;
            z-index: 2;
            background-color: $background;
        }
    }

    &__author {
        border-top: none;
        padding: 16px;
        align-self: flex-end;
        &::before {
            content: "";
            position: absolute;
            background: url("/src/assets/img/quote/mark.png") no-repeat center center / 70%;
            width: 41.47px;
            height: 28.7px;
            right: 16px;
            top: -14px;
            z-index: 2;
            background-color: $background;
        }
    }
}
