.skills {
    margin-top: 112px;

    .accent-line {
        max-width: 239px;
    }

    &__squares {
        max-width: 349px;
    }

    .flex-col {
        justify-content: flex-start;
    }

    &__content {
        margin-top: 12px;
        justify-content: space-around;
    }

    &__list {
        margin-top: 43px;
        margin-bottom: auto;
        display: flex;
        gap: 16px;

        &-item {
            display: flex;
            flex-direction: column;
            border: 1px solid $white;
            max-width: 220px;
            height: fit-content;
            
            &-title {
                padding: 8px;
                font-weight: 500;
                border-bottom: 1px solid $white;
            }

            &-body {
                padding: 8px;
            }
        }
    }
}
